exportPattern("^[[:alpha:]]+")

useDynLib(Bchron)

import(inline,MASS)
importFrom(mclust,densityMclust)
importFrom(utils,txtProgressBar,setTxtProgressBar)
importFrom(ellipse,ellipse)
importFrom(coda,geweke.diag)
importFrom("grDevices", "rgb")
importFrom("graphics", "grid", "legend", "lines", "mtext", "par",
             "plot", "points", "polygon")
importFrom("stats", "approx", "dbinom", "dnorm", "dt", "dunif",
             "pnorm", "quantile", "rnorm", "runif")
importFrom("utils", "read.table", "modifyList")

S3method(plot, BchronologyRun)
S3method(plot, BchronCalibratedDates)
S3method(plot, BchronRSLRun)
S3method(plot, BchronDensityRun)
S3method(plot, BchronDensityRunFast)
S3method(summary, BchronologyRun)
S3method(summary, BchronRSLRun)
S3method(summary, BchronCalibratedDates)
S3method(predict, BchronologyRun)
